#videoContainer {
  /* background-color: blue */
}

.direction {
  text-align: center;
  margin-top: 50px
}

@media (max-width: 767px) {
  #videoContainer {
    height: 360px;
  }
}

@media (min-width: 768px) {
  #videoContainer {
    height: 422px;
  }
}

@media (min-width: 992px) {
  #videoContainer {
    height: 546px;
  }
}

@media (min-width: 1200px) and ( max-width: 1900px) {
  #videoContainer {
    /* height: 422px; */
  }

  .direction {
    margin-top: 33px;
    position: relative;
    width: 400px;
  }

  .level1 {
    position: absolute;
    left: 40%;
  }

  .level2 {
    position: absolute;
    width: 100%;
    top: 30%;
  }

  .level3 {
    position: absolute;
    top: 54%;
    left: 20%;
  }
  .content {
    display: flex
  }
}

@media (min-width: 1900px) {
  #videoContainer {
    height: 532px;
  }

  .content {
    display: unset
  }
}

.straightDirection {
  height: 90px;
  width: 40px;
}



.turnDirection {
  width: 90px;
  height: 40px;
}

button {
  margin: 20px
}

.center {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.turn-left {
  transform: scaleX(-1);
}