python-ev3dev2==2.0.0b3
certifi==2019.3.9
chardet==3.0.4
idna==2.8
python-engineio==3.5.1
python-socketio==4.0.1
websocket-client==0.56.0
socketIO-client==0.7.2
requests==2.21.0
six==1.12.0
urllib3==1.24.3